<!doctype html>
<html lang="en">
<% include include/head.html %>
<body ng-app="myApp">
<!-- <% //include login.html %> -->
<div class="wrapper">
    <!-- Side bar -->
    <!-- Side bar -->
    <!-- Side bar -->
    <% include include/sidebar_user.html %>
    

    <!-- Right main panel -->
    <!-- Right main panel -->
    <!-- Right main panel -->
    <div class="main-panel">
        <!-- Right main panel - navbar -->
        <% include include/navbar.html %>


        <!-- Right main panel - content -->
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="header">
                                <h4 class="text-muted"><i class="pe-7s-note2"></i> My Jobs</h4>
                            </div>
                            <!-- </div> -->
                            <div class="content table-responsive">

                                <% if(data.length > 0) { %>
                                <table class="table table-hover" >
                                    <thead>
                                        <th>Application ID</th>
                                        <th>Position ID</th>
                                        <th>Position Title</th>
                                        <th>Position Status</th>
                                        <th>First Name</th>
                                        <th>Last Name</th>
                                        <th>Email</th>
                                        <th>Status</th>
                                        <th>URL</th>
                                        <th></th>
                                        <th></th>
                                    </thead>
                                    <tbody>

                                        <% for(var i = 0; i < data.length; i++) { %>
                                        <tr>
                                            <td><%=data[i].aid%></td>
                                            <td><%=data[i].pid%></td>
                                            <td><%=data[i].jobTitle%></td>
                                            <td><%=data[i].jobStatus%></td>
                                            <td><%=data[i].firstName%></td>
                                            <td><%=data[i].lastName%></td>
                                            <td><%=data[i].email%></td>
                                            <td><%=data[i].status%></td>
                                            <% if(data[i].resumeUrl) { %> 
                                                <td><a href="<%=data[i].resumeUrl%>"><%=data[i].resumeUrl%></a></td>
                                            <% } else { %>
                                                <td></td>
                                            <% } %>
                                            <% if(data[i].status === 'Offered'){ %>
                                                <td><a href="offer?action=OfferAccepteded&id=<%=data[i].aid%>">OfferAccept</a></td>
                                                <td><a href="offer?action=OfferRejected&id=<%=data[i].aid%>">OfferReject</a></td>
                                            <% } else if(data[i].status === 'Pending'){ %>
                                                <td><a href="jobseekerpending?action=Cancelled&id=<%=data[i].aid%>">Cancel</a></td>
                                                <td></td>
                                            <% } else { %>
                                                <td></td>
                                                <td></td>
                                            <% } %>
                                        </tr>
                                        <% } %>
                                    </tbody>
                                </table>
                                <% } %>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>


        <!-- Right main panel - footer -->
        <% include include/footer.html %>

    </div>
</div>


</body>


<script>
var app = angular.module('myApp', []);
app.controller('myCtrl', function($scope, $http) {

    // Get Application with jobseeker id
    $http.get("joblist").success(function (response){
            $scope.jobs = response;
        }
    );
});
</script>
	<!-- <script type="text/javascript">
    	$(document).ready(function(){

        	demo.initChartist();

        	$.notify({
            	icon: 'pe-7s-gift',
            	message: "Welcome to <b>Light Bootstrap Dashboard</b> - a beautiful freebie for every web developer."

            },{
                type: 'info',
                timer: 4000
            });

    	});
	</script> -->

</html>
