<html>
<% include include/head.html %>
<link href="assets/css/login.css" rel="stylesheet" />
<body ng-app="">
<% if(locals.error){ %>
    <p>
    <br>
    <h4><%= error %></h4>
    <br>
    </p>
<% } %>

<script>
</script>
<div class="" id="">
    <div class="modal-dialog modal-lg">
    
      <!-- Modal content-->
      <div class="modal-content account-wall">
        <div class="row">
            <h1 class="text-center">Sign up</h1>
            <div class="col-md-5 col-md-offset-1">
            <br>
                <h4 class="text-center">New Jobseeker</h4>
            
                    <form class="form-signin" action="/register" method="post">
                        <input type="text" class="form-control" name="firstname" placeholder="First Name" required autofocus> <!-- required autofocus -->
                        <input type="text" class="form-control" name="lastname" placeholder="Last Name" required>  <!-- required -->

                        <input type="text" class="form-control" name="experience" placeholder="Experience" required>
                        <input type="text" class="form-control" name="education" placeholder="Education" required>
                        <input type="text" class="form-control" name="skill" placeholder="Skills" required>

                        <input type="text" class="form-control" name="picture" placeholder="Picture URL">
                        <input type="text" class="form-control" name="introduction" placeholder="Introduction">



                        <input type="email" class="form-control" name="username" placeholder="Email" required>
                        <input type="password" name="password" class="form-control" placeholder="Password" required>
                        <input type="password" class="form-control" placeholder="Confirm Password" required>
                        <input type="hidden" name="type" value="user">
                        <button class="btn btn-lg btn-fill btn-info btn-block" type="submit">Sign up</button>
                        
                        <!-- <div class="row">
                            <div class="pull-left" >
    
                                <ng-form name="form1">
                                <input id="SSS" type="radio" name="type" value="user" ng-model="content" required checked="checked">
                                Job Seeker
                                </ng-form>
                                <br>
                                <ng-form name="form2">
                                <input type="radio" name="type" value="company" ng-model="content">
                                Company
                                </ng-form>

                            </div>

                            <a href="/login" class="pull-right new-account">Has an account?</a><span class="clearfix"></span>
                        </div> -->
                    </form>

                <br>

            </div>
            <div class="col-md-5">
            <br>
                <h4 class="text-center">New Company</h4>
            
                    <form class="form-signin" action="/register" method="post">
                        <input type="text" class="form-control" name="name" placeholder="Company Name" required autofocus> 
                        <input type="text" class="form-control" name="website" placeholder="Website" required>
                        <input type="text" class="form-control" name="address" placeholder="Address" required>
                        <input type="text" class="form-control" name="description" placeholder="Description" required>
                        <input type="text" class="form-control" name="image_url" placeholder="Image URL" required>


                        <input type="email" class="form-control" name="username" placeholder="Email" required>
                        <input type="password" name="password" class="form-control" placeholder="Password" required>
                        <input type="password" class="form-control" placeholder="Confirm Password" required>
                        <input type="hidden" name="type" value="company">
                        <button class="btn btn-lg btn-fill btn-info btn-block" type="submit">Sign up</button>

                        <a href="/login" class="pull-right new-account">Has an account?</a><span class="clearfix"></span>
                    </form>

                <br>

            </div>
        </div>


      
      </div>
    </div>
  </div>



</body>

<script>
// 


</script>

</html>